.App {
  font-family: 'Montserrat', sans-serif;
}


.App-header {
  background-color: rgb(231, 207, 207);
  height: 150px;
  /* padding: 20px; */
}

.App-title {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
  color: white;
  border-style: solid;
  border-color: #091141;
  background-color: #091141;
  padding-top: 80px;
  padding-bottom: 15px;
}
.CoinInfoContainer{
  text-align: center;
  padding: 80px 0px 0px 0px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


.spacer{
  padding-top: 220px;
  padding-bottom: 40px;
  font-size: 125%;
  text-align: center;
}

.form-content{
  text-align: center;
  margin-top: 150px;
}



.App-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  border-style: solid;
  border-color: #091141;
  background-color: #091141;
  padding-top: 25px;
  padding-bottom: 15px;

}
.buttonRow{
  display:inline-flex;
  /* justify-content:center; */
  padding-top:10px;
}

.downloadButton {
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.downloadButton:hover {
  transform: scale(1.05);
}

.downloadButton:active {
  transform: scale(0.95);
}